/*======== Geral =========================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* 1rem == 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: #F7F9F9;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

/*==================== header ===========================*/
header {
  display: flex;
  height: 7.2rem;
  padding-block: 1.6rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.scroll {
  background-color: #00856F;
}

header.scroll .close-menu:nth-child(1) path {
  fill: #ffffff;
}

header.scroll button path {
  stroke: #ffffff;
}
header.scroll .logo path {
  fill: #ffffff;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
}

/*==================== Menu expanded ====================*/
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded {
  overflow: hidden;
}
body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #00856F;
  width: 100vw;
  height: 100vh;
  padding-top: 7.2rem;
  transition: transform 300ms;
  transform: translateX(0);
}
body.menu-expanded .menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
body.menu-expanded .menu ul li a {
  color: white;
  text-decoration: none;
}
body.menu-expanded .menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #00856F;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
body.menu-expanded .logo {
  position: relative;
  z-index: 1;
}
body.menu-expanded .open-menu {
  position: relative;
  z-index: 3;
}
body.menu-expanded .close-menu {
  position: relative;
  z-index: 2;
  left: -1.8rem;
}
body.menu-expanded .logo path {
  fill: white;
}
body.menu-expanded button path {
  stroke: white;
}

body.menu-expanded > :not(header) {
  visibility: hidden;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*==================== hero section ====================*/
.hero {
  padding-top: 11.3rem;
}
.hero h4 {
  color: #00856F;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-bottom: 1.6rem;
}
.hero h1 {
  color: #061800;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 2.4rem;
}
.hero p {
  color: #384633;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  margin: 3.2rem;
}

.hero::before {
  content: "";
  height: 115.2rem;
  width: 100vw;
  background-color: #DCE9E2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .bnt {
  background-color: #00856F;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  width: 26.3rem;
  height: 5.2rem;
  border-radius: 4rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-inline: auto;
  margin-bottom: 6rem;
  text-decoration: none;
}

.bnt:hover {
  background-color: #00453A;
}

.hero img {
  width: 26.3rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

.stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  background-color: #FFFAF1;
  border: 1px solid #DCE9E2;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}
.stats .stat h3 {
  color: #061800;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 0.4rem;
}
.stats .stat p {
  color: #00856F;
  margin: 0;
  font-size: 1.6rem;
  line-height: 150%;
}

/*========== Section sevices ==========================*/
div.head {
  margin-inline: auto;
  margin-bottom: 6rem;
}
div.head h4 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #00856F;
  letter-spacing: 0.08em;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}
div.head h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: #061800;
}

#services {
  padding-block: 10rem;
}
#services div.cards {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
#services div.cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 2.4rem;
  border: 1px solid #DCE9E2;
  border-radius: 0.6rem;
  background-color: #ffffff;
}
#services div.cards .card h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
#services div.cards .card p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #384633;
}

/*========== Section About ============================*/
#about {
  padding-block: 10rem;
  text-align: left;
}
#about h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: #00856F;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
#about h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: #061800;
  margin-bottom: 2.4rem;
}
#about p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #384633;
  margin-bottom: 6rem;
}

/*========== Section Contact =========================*/
#contact {
  text-align: left;
  padding-block: 10rem;
}
#contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 6rem;
}
#contact .contact-info h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: #061800;
}
#contact .contact-info div.info-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#contact .contact-info div.info-links a {
  display: flex;
  gap: 0.8rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #384633;
}
#contact .contact-info .btn-contact {
  background-color: #00856F;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  width: 26.3rem;
  height: 5.2rem;
  border-radius: 4rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

#contact .btn-contact:hover {
  background-color: #00453A;
}

/*========== Footer ==================================*/
footer {
  background-color: #00856F;
  text-align: left;
  padding-block: 6rem;
}
footer address {
  margin: 2.4rem 0 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer address p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #FFFAF1;
}
footer div.social-links {
  justify-content: flex-start;
}

/*========== ToTheTop button ==================================*/
#toTheTop {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  transition: 500ms;
  transform: translateY(130%);
  opacity: 0;
}

#toTheTop.show {
  transform: translateY(0);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
