// Primary colors
$brand-green: #00856F;
$brand-green-light: #DCE9E2;
$brand-green-light-02: #F7F9F9;
$brand-beige: #FFFAF1;
$brand-green-hover: #00453A;

// Secondary colors
$gray-headline: #061800;
$gray-paragraph: #384633;
$white: #ffffff;